
#signup-main-container{
  height: 60vh;
  /* border: solid lightcoral 4px; */
  display: flex;
  justify-content: center;
  flex-flow: row-wrap;
}


#sign-up-form{
/* border: solid 4px blue; */
width: 50%;
}

.input-fields{
  background-color: #5E7FA0;
  font-size: 3vh;
  /* border: blue solid 3px; */
  color: #FFECD1
}

.input-fields::placeholder{
opacity: 1;
color: #FFECD1;
}

.form-fields{
  width: 70%;
  height: 8vh;
  margin-top: 5vh;
margin-left: 15%;
/* border: solid green 4px; */
text-align: center;
}

#create-account-button{
  font-size: 4vh;
  color: #415e7c;
}